{% extends 'base.html' %}


{% block content %}

<div class="container">
<div class="row mt-5">
    <div class="col-7">
        <img src="{{ event.image.url }}" alt="{{ event.schoolName }}">
    </div>
    <div class="col-3">
        <h2 class="text-uppercase">{{ event.title }}</h2>
        <h5 class="text-capitalize">{{ event.schoolName }}</h5>
        <p>{{ event.price }}€</p>
        <p>{{ event.date }}</p>
        <p>
            <u>Nombre de place disponible :</u>
             {{ event.nbPerson }}
        </p>
        <div>
            <u>Description :</u>
            <p>{{ event.description }}</p>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'add' event.id %}" class="btn btn-success">Réserver</a>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}

