{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-7">
        <img src="{{ event.image.url }}" alt="{{ event.schoolName }}">
    </div>
    <div class="col-2">
        <h2>{{ event.title }}</h2>
        <h5>{{ event.schoolName }}</h5>
        <p>{{ event.price }}€</p>
        <p>{{ event.date }}</p>
        <p>Nombre de place disponible : {{ event.nbPerson }}</p>
        <p>{{ event.description }}</p>
    </div>
</div>
</div>

{% endblock %}

